.item {
  width: 100px;
  background-color: aqua;
  padding: 2em;
  border: 1px solid #0000;
  margin: 0.2em;
  text-align: center; /* Untuk mengatur teks ke tengah */
  height: auto; /* Hindari mengatur tinggi jika tidak diperlukan */
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  /* justify-content: space-evenly;  */
  /* Mengatur item secara horizontal */
  /* Jangan lupa di atur tinggi container nya gan */
  align-items: flex-start;
  /* Mengatur item secara vertikal */
  /* flex-wrap: wrap; */
  /* Align content hanya berfungsi apabila kita nge set flex-wrap ke wrap */
  /* align-content: center; */
}
/* Pastikan elemen .item memiliki konten yang cukup dan tidak memiliki tinggi yang sudah diatur, dan dengan konfigurasi CSS seperti di atas, elemen .item akan diatur secara vertikal di tengah di dalam .container. */

.item-1 {
    /* Ketika ingin beda sendiri dari parent container nya nya  */
    /* Maka bsia gunakan align self */
  align-self: flex-end;
  flex-grow: 1;
  /* Flex grow untuk memenuhi sisa width yang ada */
  order: 3;
  /* Order untuk menukar barisan element nya */
}
